@import url("variables.css");


* {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  /* border: 3px solid blue; */
  /* overflow: hidden; */
}

.heroSection {
  /* border: 2px solid red; */
  width: 100%;
  height: 100vh;
  margin-top: -165px;
  top: 0px;
  background-image: url("/public//assets/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: cover;
  z-index: -999;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroSection div {
  width: 856px;
  height: 382px;
  margin-top: 150px;
  margin-left: 153px;
  gap: 40px;
  opacity: 0px;
}

.heroSection div h1 {
  font-family: var(--heading-font);
  font-size: 80px;
  font-weight: 600;
  line-height: 90px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.heroSection div p {
  font-family: Space Mono;
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--primary-color);

  /* p: 0px 50px; */
}

/* style for blog section */
.blogSection {
  position: relative;
  height: fit-content;
  max-width: 1300px;
  margin: auto;
  /* border: 2px solid red; */
}

.blogSection .sectionTitle {
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: fit-content;
  /* border: 2px solid red; */
}

.blogSection .sectionTitle h1 {
  font-family: Sora;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--section-color);
}

.blogSection .sectionTitle p {
  font-family: Space Mono;
  /* border: 2px solid red; */
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: left;
  /* width: 1076px; */
  height: fit-content;
  top: 1134px;
  left: 152px;
  margin-top: 20px;
  gap: 0px;
  opacity: 0px;
  color: #3d3d3d;
}

/* blog card styles */
.blogWrapper {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  /* border: 2px solid red; */
  padding: 0px;
}

.blogWrapper .blog1 {
  position: relative;
  border-left: 1px solid transparent;
  /* border: 1px solid red; */
}

.blogWrapper .blog1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px; /* Border width */
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(254, 191, 88, 1) 0%,
    rgba(255, 126, 63, 1) 35%
  );
}

.content {
  padding: 30px;
}

.blogWrapper div .blogImg {
  width: 100%;
  object-fit: cover;
  padding-right: 0px 0 0px 0px;
}

.blogWrapper div h2 {
  font-family: var(--heading-font);
  font-size: var(--card-title-font-size);
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: left;
  width: 248px;
  height: 80px;
  gap: 0px;
  opacity: 0px;
}
.blogWrapper div p {
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #3d3d3d;
  width: 254px;
  height: 72px;
  margin-top: 15px;
  text-align: justify;
  gap: 0px;
  opacity: 0px;
}

.blogWrapper button {
  background-color: transparent;
  border: 1px solid #065545;
  border-radius: 48px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}


.blogWrapper button:hover {
  padding: 11px 28px;
  height: 48px;
  width: 70px;
  border-radius: 48px;
  transition: all 1s ease;
  background-color: #febf58 !important;
  cursor: pointer;
  border: none;
}

/*  video and footer section styles*/
.videoContainer {
  background-color: var(--secondary-color);
  position: relative;
}
.videoContainer div {
  max-width: 1300px;
  margin: auto;
}

.videoContainer h1 {
  font-family: var(--heading-font);
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #9ff1d5;
  padding: 40px 0px;
}

.videoContainer .footerWrapper {
  /* border: 2px solid red; */
  height: 900px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 419px;
  padding: 0px 119px;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.videoContainer .footerWrapper .socialIconsWrapper {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* border: 2px solid red; */
}

.videoContainer .footerWrapper .socialIconsWrapper img {
  margin-top: 40px;
}

.videoContainer .footerWrapper .socialIconsWrapper div {
  /* border: 2px solid blue; */
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 20px 0px;
}

.videoContainer .footerWrapper .socialIconsWrapper div img {
  height: 25px;
  width: 25px;
  object-fit: cover;
}

/* External links */
.linkWrapper {
  /* border: 2px solid red; */
  height: 70%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* margin-top: 50px; */
}

.linkWrapper ul {
  list-style: none;
}

.linkWrapper .primaryLinks,
.secondaryLinks {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  line-height: 22px;
  font-family: var(--font-family);
}

.linkWrapper .primaryLinks li,
.secondaryLinks li {
  line-height: 22px;
  padding: 10px;
  color: #012a22;
}

#videoWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* border: 2px solid blue; */
}

.video-card {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  padding: 0px;
}

.video-heading {
  font-family: Sora;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--primary-color);
  height: 28px;
}

.video-paragraph {
  font-family: Space Mono;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #e8fcf5;
  margin-top: 15px;
}

.custom-video {
  width: 100%;
  height: 100%;
  background-color: white;
}

.videoIcons{
  height: 30px;
  width: 30px;
  object-fit: contain;
}

.play-pause-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background: url("../../public/assets/icons/play.png") no-repeat center center;
  background-size: contain;
  cursor: pointer;
  z-index: 2;
}

.play-pause-btn.pause {
  background: url("../../public/assets/icons/pause.png") no-repeat center center;
  background-size: contain;
}

video::-webkit-media-controls {
  display: none !important;
}

video::-moz-media-controls {
  display: none !important;
}

@media screen and (max-width:1300px) {
  .heroSection div{
    margin-left: 50px;
  }
  .blogSection{
    width: 100%;
    padding: 0px 50px;
  }
}

@media screen and (max-width: 968px) {
  .heroSection div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 40px;
    margin-left: 0px;
    width: 100%;
    height: fit-content;
  }
  
  
.heroSection div p{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.blogSection .sectionTitle {
  padding: 30px;
  margin-bottom: 40px;
  height: 400px;
  /* margin-left: 0px; */
}

.videoContainer div{
  padding: 50px 30px;
}

   .blogWrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }

  .blogWrapper .blog1{
    border-left: none;
  }
  .blogWrapper .blog1::before{
    background: transparent;
  }

  #videoWrapper{
    grid-template-columns: repeat(2, 1fr);
}
}
@media screen and (max-width: 768px) {
  .blogWrapper{
    grid-template-columns: repeat(1, 1fr);
  }
  .blogWrapper div .blogImg{
    height: 500px ;
    width: 100%;
  }

  .blogSection .sectionTitle{
    padding: 40px 0px;
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
  }

  .videoContainer div{
    width: 100%;
  }

  .videoContainer .footerWrapper{
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    margin-top: 0px;
    height: fit-content;
    padding-top: 50px;
    /* padding: 50px; */
  }
  .content{
    padding: 0px;
  }
  #videoWrapper{
    grid-template-columns: repeat(1, 1fr);
}
}

@media screen and (max-width: 500px) {
.heroSection{
  height: fit-content;
}

 .linkWrapper{
  grid-template-columns: repeat(1, 1fr);
  height: 100%;
 }

 .videoContainer .footerWrapper .socialIconsWrapper{
  align-items: center;
 }


 .videoContainer .footerWrapper .socialIconsWrapper div{
  justify-content: center;
  align-items: center;
 }

 .linkWrapper .secondaryLinks, .primaryLinks{
  border-top: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .linkWrapper .primaryLinks li,
.secondaryLinks li {
  padding: 10px 0px;
}
}