$primary_color: "#ffffff";
$secondary_color: "#012a22";
$font_family: "sans-serif";
$heading_color: "#065545";
$button_color: "#febf58";
$bg_color: "#012a22";
$section_title_font_size: "48px";
$card_title_font_size: "32px";